body {
    background-color: #0A0F12;
    margin: 0;
}
/* gallery */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    gap: 14px;
    max-width: 1400px;
    margin: 0 auto;
}

.gallery img {
    width: 100%;
    max-width: 700px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid rgba(256, 129, 45, 0.80);
  }

/* header */

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: #FFE9DB;
    font-size: 1rem;
}

a:hover {
    color: #FF9233;
}



header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 2em;
    font-weight: bold;

}

    .navbar .links {
        display: flex;
        gap: 2.5rem;
        font-weight: 700;
        font-family: 'open-sans', sans-serif;
}

.navbar .toggle-btn {
    color: #0A0F12;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: #0A0F12;
    color: #FFE9DB;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action-btn:hover{
    color: #FF9233;
    scale: 1.05;
}

.action-btn:active {
    scale: 0.95;
}

.navbar {
    background-color: #141F26;
    padding: 30px;
    text-align: center;
}
               
/* footer */

.main {
    flex-grow: 1;
}

.footer {
    text-align: center;
    background-color: #141F26;
    color: #FFE9DB;
    width: 100%;
    font-family: 'open-sans', sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.links2 {;
    margin: -10px 5px;
    margin-bottom: 30px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.header2 {
    position: relative;
    top: 15px
}

.links2 {
    position: relative;
    top: 15px;
}
.a:hover  {
    color: #FF9233;
    cursor: pointer;
}

/* scroll bar */

::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #637371;
    border-radius: 10px;
  }

/* responsive design */
@media( max-width: 992px){

    .img {
        max-width: 10%;
        height: auto;
}
}

@media ( max-width: 1070px){
    #logo {
        font-size: 5vw;
    }
}

@media ( max-width: 640px){
    #logo {
        font-size: 10vw;
    }
}

/* responsive design header */

/* responsive design */
@media( max-width: 992px){
    .navbar .links,
    .nav .action-btn {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media( max-width: 576px){
    .dropdown-menu, {
        left: 2rem;
        width: unset;
        margin-top: 20px;
    }

    .action-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 15px;
        margin-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0px;
    margin-right: 40px;
    margin-top: 20px;
    font-size: px;
}

@media(max-width: 400px){
    .action-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 10px;
        margin-top: 20px;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 0px;
        margin-right: 40px;
        margin-top: 20px;
        font-size: 12px;
    }


}
}
