.container {
    position: relative;
    text-align: center;
}

.top-left {
    position: absolute;
    top: 8px; 
    left: 16px;
    font-size: 40px; 
    margin: auto;
}

.book {
    position: absolute;
    top: 8px;
    right: 16px;
    margin: auto;
    font-size: 23px; 
}

.cart {
    position: absolute;
    top: 8px;
    right: 12%;

}

.contact {
    position: absolute;
    top: 8px;
    right: 16%;
}

.services {
    position: absolute;
    top: 8px;
    right: 21%;
}

.shop {
    position: absolute;
    top: 8px;
    right: 27%;

}





