* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

body {
    background-color: #141F26;
    background-image: url(river-danube.jpg);
    background-size: cover;
    background-position: top:25% left: 25%;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: #141F26;
    font-size: 1rem;
}

a:hover {
    color: #FF9233;
}



header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 2em;
    font-weight: bold;

}

    .navbar .links {
        display: flex;
        gap: 2.5rem;
        font-weight: 700;
}

.navbar .toggle-btn {
    color: #141F26;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: #141F26;
    color: #FFE9DB;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action-btn:hover{
    color: #FF9233;
    scale: 1.05;
}

.action-btn:active {
    scale: 0.95;
}

/* dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 10px; 
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 240px;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* hero section */
section#hero {
    height: calc( 100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFE9DB;
}

#hero h1 {
    font-size: 3em;
    margin-bottom: 1rem;
}

#hero p {
    color: #FF9233;
    font-size:25px;
    background-color: rgba(10, 15, 19, 0.1);
    backdrop-filter: blur(1.5px);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: scale .2 ease;
}

/* responsive design */
@media( max-width: 992px){
    .navbar .links,
    .nav .action-btn {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media( max-width: 576px){
    .dropdown-menu, {
        left: 2rem;
        width: unset;
        margin-top: 20px;
    }

    .toggle-btn {
        margin-left: 30px;
        margin-top: 20px;
        
    }

    .action-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 15px;
        margin-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0px;
    margin-right: 40px;
    margin-top: 20px;
    font-size: px;
}

@media(max-width: 400px){
    .action-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 10px;
        margin-top: 20px;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 0px;
        margin-right: 40px;
        margin-top: 20px;
        font-size: 12px;
    }


}
}

/* footer */

.main {
    flex-grow: 1;
}

.footer {
    text-align: center;
    background-color: #141F26;
    color: #FFE9DB;
    width: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.links2 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.a:hover  {
    color: #FF9233;
    cursor: pointer;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #637371;
    border-radius: 10px;
  }